<div class="welcome">
    <p>A new way of thinking</p>
    <h1>TUITER</h1>
    <div class="nav-options">
        <a class="options" href="/tuits/new">CREATE A TUIT</a>
        <a class="options" href="/tuits">EXPLORE</a>
        <a class="options" href="/tuits/favs">FAV TUITS</a>
    </div>
</div>