body {
  font-weight: 200;
}

h1, h2, h3 {
  font-weight: 200;
}

.navbar {
  margin-bottom: 70px;
}

#errorMsg {
  background-color: red;
  color: white;
  font-weight: 400;
  text-align: center;
  padding: 10px 0;
  margin-top: 5px;
}

.welcome {
  padding: 5%;
}

.welcome h1 {
  font-weight: 700;
  font-size: 7em;
  text-align: center;
}

.welcome p {
  text-align: center;
}

.nav-options {
  margin-top: 3%;
  text-align: center;
}

.options {
  color: #333;
  font-weight: 400;
  padding: 0 5%;
} .options:hover {
  color: #333;
text-decoration: none;
}

.tuit {
  width: 500px;
    margin: 5% 0;
    background: #F8F9FA;
    padding: 4%;
    border-radius: 3%;
}

.delete {
  font-size: 12px;
  font-weight: 500;
}