<div class="container">

    <div class="row">

        <div class="col-md-6">
            <h1 style="font-weight: 100">New tuit</h1>
        </div>

        <div class="col-md-6">

            <form action="/tuits/new" method="POST">
                <div class="form-group">
                    <label for="content-input">Content</label>
                    <input name="content" type="text" class="form-control" id="content-input">
                </div>
                <button type="submit" class="btn btn-dark">Create new tuit</button>
                <a href="/" class="btn btn-dark">Back</a>

            </form>
        </div>

    </div>
</div>