<div class="container tuits-index">
    <h3>Tuits</h3>
    {{#each tuits}}
    <div class="tuit">
        <h4>{{title}}</h4>
        <p>{{content}}</p>
        <p>{{creatorID.username}}</p>
        <a class="options" href="/tuits/{{_id}}">See tuit details</a>
    </div>
    {{/each}}
</div>