<div class="container tuits-index">
    <a href="/new">Create new tuit</a>
    <h1 style="font-weight: 100">Tuits</h1>
    {{#each tuits}}
    <h4>{{content}}</h4>
    <p>{{creatorID}}</p>
    <a href="/{{_id}}">See tuit details</a>
    {{/each}}
</div>